{% extends "base.html" %}
{% block content %}
    <form action="" method="post" novalidate>
    <div class="form-group">
        {{form.hidden_tag()}}
        <p>
        Login
        </p>
        <p>
            {{ form.username.label }} <br>
            {{ form.username(size=32) }}
            {% for error in form.username.errors %}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }} <br>
            {{ form.password(size=32) }}
            {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }} </p>
        <p>{{ form.submit() }}</p>
    </div>
    </form>
{% endblock %}